@charset "utf-8";

/*初始化结束*/

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
dl,
dt,
dd {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: "微软雅黑";
	list-style: none;
	color: #666;
}


/*清楚浮动*/

.clearfix:after {
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}

.clearfix {
	zoom: 1;
}

a {
	text-decoration: none;
	cursor: pointer;
	outline: 0 none;
	color: #666;
}

img,
input {
	border: 0 none;
	margin: 0;
	padding: 0;
	outline-style: none;
	vertical-align: middle;
}

u {
	text-decoration: none;
}

b,
em,
i {
	display: inline-block;
	vertical-align: middle;
	font-weight: normal;
	font-style: normal;
}


/*初始化结束*/



/*顶部导航开始*/


/*公共头部开始*/

#vivo-head-wrap {
	width: 100%;
	position: fixed;
	z-index: 99;
	background-color: rgba(255, 255, 255, .97);
	border-bottom: 1px solid #f2f2f2;
	box-sizing: border-box;
}


/*头部版心*/

.vivo-head {
	max-width: 1400px;
	min-width: 960px;
	height: 80px;
	margin: auto;
	margin-bottom: -1px;
	position: relative;
}


/*logo*/

.vivo-h-logo {
	width: 95px;
	height: 25px;
	float: left;
	position: absolute;
	top: 50%;
	margin-top: -13px;
	margin-left: 75px;
	text-indent: -20000px;
}

a.vivo-h-logo {
	background-image: url(../img/vivo-gb-logo.png);
	background-size: 95px 25px;
	background-repeat: no-repeat;
}


/*导航栏*/

ul.vivo-h-nav {
	width: 50%;
	height: 100%;
	position: relative;
	margin: auto;
}


/*导航栏列表*/

.vivo-h-nav li {
	display: table-cell;
	position: relative;
	vertical-align: middle;
	z-index: 1;
	text-align: center;
}

.current {
	background-color: #008cd6;
}

.vivo-h-nav li.current a {
	color: #fff;
}

.vivo-head .vivo-h-nav li a {
	margin: 0 15px;
	padding: 0 10px;
	display: block;
	height: 100%;
	line-height: 80px;
	white-space: nowrap;
	position: relative;
	font-size: 14px;
	font-weight: 400;
	font-family: "微软雅黑";
}


/*鼠标移入导航样式*/

.vivo-head .nav-tool {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -15px;
}

.nav-t-kefu {
	overflow: inherit;
	position: relative;
	opacity: 1;
	transition: all .3s ease;
}

.nav-t-kefu:hover {
	background-color: #008cd6;
	transition: background-color .3s ease;
}

.nav-tool a {
	width: 30px;
	height: 30px;
	padding: 0;
	display: inline-block;
	margin-left: 10px;
	border: 1px solid #999;
	border-radius: 50%;
	text-align: left;
	float: left;
	position: relative;
}

.nav-t-kefu-pop {
	display: block;
	width: 88px;
	line-height: 18px;
	height: 18px;
	text-align: center;
	border: 1px solid #aaa;
	border-radius: 3px;
	position: absolute;
	top: 34px;
	left: 20%;
	margin-left: -44px;
	color: #999999;
	font-size: 12px;
	opacity: 0;
}



.nav-tool b {
	width: 18px;
	height: 18px;
	top: 50%;
	left: 50%;
	margin-left: -9px;
	margin-top: -9px;
	display: inline-block;
	position: absolute;
}

.nav-tool .nav-t-kefu b {
	background-image: url(../img/vivo-gb-ico.png);
	background-repeat: no-repeat;
	background-position: -36px 0;
}

.nav-tool .nav-t-kefu b:hover {
	background-color: #008cd6;
	transition: background-color .3s ease;
	background-position: -35px -18px;
}

.nav-t-search b.v-gb-ico {
	background-image: url(../img/vivo-gb-ico.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.nav-t-user b.v-gb-ico {
	background-image: url(../img/vivo-gb-ico.png);
	background-repeat: no-repeat;
	background-position: -18px 0;
}


/*产品下拉部分*/

.vivo-menu-series {
	width: 100%;
	height: 286px;
	position: fixed;
	top: 80px;
	background-color: rgba(255, 255, 255, .97);
	z-index: 15;
	display: none;
	opacity: 0;
	border-bottom: 1px solid #F6F7F8;
}
.show{
	display: block;
}
.hide{
	display: none;
}
.vms-bigbox {
	width: 100%;
	min-height: 100px;
	position: relative;
}

.vms-box {
	width: 1000px;
	margin: auto;
	padding: 30px 0;
}

.vms-box dl {
	float: left;
	width: 20%;
}

.vms-box dl dt {
	font-size: 16px;
	color: #333;
	padding-bottom: 30px;
}

.vms-box dl dt a {
	display: block;
	color: #333;
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	transition: color .3s ease;
}

.vms-box dl dt a:after {
	width: 6px;
	height: 10px;
	background-position: -70px 0;
	vertical-align: 1px;
	margin-left: 6px;
}

.vms-box dl dt a:hover {
	color: #008cd6;
}

.vms-box dl dt a:hover:after {
	background-position: -78px 0;
}

.vms-box dl dd a {
	display: block;
	font-size: 14px;
	color: #666;
	height: 2.5em;
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	transition: color .3s ease;
	width: 90%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.vms-box dl dd a:hover {
	color: #008cd6;
}


/*公共头部结束*/


/*公共footer开始*/


/*最外层的盒子*/

.vivo-footer {
	height: 350px;
	width: 100%;
	min-width: 640px;
	position: fixed;
	background-color: #222;
	left: 0;
	bottom: 0;
	z-index: 2;
	color: #999;
	font-size: 14px;
}


/*logo*/

.vivo-footer-logo {
	text-align: center;
	padding: 40px 0 20px 0;
}


/*logo图大小*/

.vivo-footer-logo img {
	width: 125px;
	height: 50px;
}


/*分享盒子*/

.vivo-footer-share {
	margin-top: 20px;
	margin-bottom: 40px;
	text-align: center;
	position: relative;
}


/*分享每个园*/

.vivo-footer-share a {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	display: inline-block;
	background-color: #666;
	margin: 0 15px;
}


/*分享hover*/

.vivo-footer-share a:hover {
	background-color: #008cd6;
	color: white;
}


/*分享图片统一格式*/

.vivo-footer-share a b {
	display: inline-block;
	width: 45px;
	height: 45px;
}


/*背景图片*/


/*sina*/

.vivo-footer-share a:hover {
	transition: background-color .5s ease;
}

.vivo-footer-share .sina-f b {
	background: url(../img/vivo-gb-ico.png) no-repeat -420px -80px;
}

.vivo-footer-share .sina-f:hover {
	background-color: #f04545;
}


/*微信*/

.vivo-footer-share .weixin-f b {
	background: url(../img/vivo-gb-ico.png) no-repeat -555px -80px;
}

.vivo-footer-share .weixin-f:hover {
	background-color: #20a900;
}


/*vivo*/

.vivo-footer-share .vivo-f b {
	background: url(../img/vivo-gb-ico.png) no-repeat -285px -80px;
}


/*贴吧*/

.vivo-footer-share .tieba-f b {
	background: url(../img/vivo-gb-ico.png) no-repeat -330px -80px;
}


/*部落*/

.vivo-footer-share .buluo-f b {
	background: url(../img/vivo-gb-ico.png) no-repeat -194px -80px;
}


/*分割线*/

.vivo-footer-share .kefu-f {
	position: relative;
}

.vivo-footer-share .kefu-f i {
	display: block;
	width: 1px;
	height: 45px;
	background: #666;
	position: absolute;
	left: -30px;
}


/*客服图片*/

.vivo-footer-share .kefu-f b {
	background: url(../img/vivo-gb-ico.png) no-repeat -243px -83px;
	margin: -3px 0 0 5px;
	width: 36px;
	/*height: 36px;*/
}


/*客服bg*/

.vivo-footer-share .kefu-f {
	width: 140px;
	height: 36px;
	line-height: 37px;
	border-radius: 18px;
	color: #fff;
	text-align: left;
	margin-left: 45px;
}


/*客服文字*/

.vivo-footer-share .kefu-f u {
	display: inline-block;
	position: relative;
	/*top: -20px;*/
	color: #ffffff;
}


/*微信二维码*/

.weixinma {
	padding: 10px;
	position: absolute;
	bottom: 65px;
	left: 0;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
	display: none;
}


/*二维码大小*/

.weixinma img {
	width: 100px;
	height: 100px;
}

.weixinma i {
	width: 18px;
	height: 12px;
	background: url("../img/vivo-gb-ico.png") -90px 0;
	position: absolute;
	top: 123px;
	left: 50%;
	margin-left: -9px;
}


/*链接部分*/

.vivo-footer-sitelinks {
	text-align: center;
}

.vivo-footer-sitelinks a {
	display: inline-block;
	margin: 0 6px;
}


/*小箭头*/

.vivo-footer-sitelinks a b {
	width: 6px;
	height: 9px;
	margin-left: 4px;
	display: inline-block;
	background: url("../img/vivo-gb-ico.png") no-repeat -594px -125px;
}


/*版权*/

.vivo-footer-copyright {
	text-align: center;
	margin-top: 20px;
	/*font-size: 12px;*/
}

.vivo-footer-copyright p,
.vivo-footer-copyright a {
	font-size: 12px;
}


/*回到顶部*/

#vivo-gotop {
	position: fixed;
	z-index: 999;
	right: 10px;
	bottom: 40px;
	background-color: rgba(0, 0, 0, .3);
	border-radius: 5px;
	display: none;
}

#vivo-gotop:hover {
	background-color: #008cd6;
}

#vivo-gotop .v-gotop a {
	width: 45px;
	height: 45px;
	display: inline-block;
	background: url("../img/vivo-gb-ico.png") no-repeat -120px 0;
	margin: 2px;
}


/*公共footer结束*/

/*遮罩层*/
.search-box{
	background-color: #000;
	opacity: .9;
	filter: alpha(opacity=90);
	height: ;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000;
	border: 0 none;
}
.vh-sear-nav{
	border: 0 none;
	width: 100%;
	height: ;
	margin: 0 auto;
	border-bottom: #313131 1px solid;
	position: relative;
	display: none;
}
.nav-box{
	/*width: 1400px;*/
	margin: 0 auto;
	height: 80px;
}
.nav-box a.vh-sear-logong{
	width: 95px;
	height: 25px;
	display: inline-block;
	margin-top: 27px;	
	background-image: url(../img/vh-sear-logo.png);
	background-size: 95px 25px;
	background-repeat: no-repeat;
	float: left;
}
.nav-box ul{
	margin-left: 20%;
	padding-top: 26px;
	position: relative;
}
.nav-box ul li input{
	width: 500px;
	height: 30px;
	border: 0 none;
	background-color: rgba(0,0,0,0);
	color: #FFFFFF;
	font-size: 18px;
}
.nav-box ul li{
	display: inline-block;
}
.sear-tool{
	position: absolute;
	right: 0;
	top: 26px;
}
.sear-tool span{
	display: block;
	margin-left: 13px;
	width: 30px;
	height: 30px;
	position: relative;
	float: left;
	overflow: hidden;
	cursor: pointer;
}
.sear-tool span.search{
	
	width: 30px;
	height: 30px;
	background: url(../img/vivo-gb-ico.png) 0px -125px;
	/*background-position: -30px -125px;*/
}
.sear-tool span.close{
	overflow: hidden;
	width: 30px;
	height: 30px;
	background: url(../img/vivo-gb-ico.png) -130px -125px;
}
/*动态创建的下拉列表*/
#pop{
	width: 1200px;
	position: absolute;
	top: 81px;
	left: 50%;
	margin-left: -600px;
}
#pop ul.list li{
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	padding-left: 15%;
	border-bottom: 1px solid #313131;
	color: #fff;
	cursor: pointer;
	transition: background-color .8s ease;
}
#pop ul.list li:hover{
	background-color: #008cd6;
	transition: background-color .8s ease;
}
