@charset "utf-8";

/*首页主体部分开始*/
#vivo-contain {
	width: 100%;
	position: relative;
	z-index: 9;
	overflow: hidden;
	background-color: #f6f7f8;
	margin-bottom: 350px;
}


/*活动部分*/
.vc-main-events {
	width: 1200px;
	margin: auto;
	margin-top: 100px;
	position: relative;
}
.vc-main-events .c1 {
	display: block;
	position: relative;
	margin: 0 -5px;
	margin-top: 40px;
}

.vc-main-events .c1 li {
	display: block;
	position: relative;
	width: 25%;
	float: left;
}

.vc-main-events .c1 li a {
	display: block;
	height: 100%;
	margin: 0 5px;
	overflow: hidden;
}

.vc-main-events .c1 li a .figure {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}
.vc-main-events .c1 li a .figure img:hover{
	transform: translateX(-10px);
	transition-duration: .8s;
	transition-timing-function: ease;
}
.vc-main-events .c1 li a .figure img{
	transform: translateX(0px);
	transition-duration: .8s;
	transition-timing-function: ease;
}
.vc-main-events .c1 li a h3 {
	font-size: 16px;
	color: #000000;
	line-height: 1.8em;
	white-space: nowrap;
	overflow: hidden;
	width: 90%;
	text-overflow: ellipsis;
	font-weight: 400;
	transition: color 0.5s ease;
}

.vc-main-events.vc-ev-pic .c1 li a p {
	transition: color 0.5s ease;
}

.vc-main-events.vc-ev-pic .c1 li a h3:hover {
	color: #54b2f2;
}

.vc-main-events.vc-ev-pic .c1 li a p:hover {
	color: #54b2f2;
}

.vc-main-events .c1 li strong {
	display: block;
	margin: 0 5px;
	font-size: 14px;
	color: #999999;
	padding-top: 1em;
	position: relative;
}

.vc-main-events .c1 li strong:after {
	content: "";
	width: 20px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ccc;
}

/*添加商品*/
.content{
	width: 1200px;
	margin: 10px auto;
}
