/*最外层的盒子*/
.vivo-footer{
    height: 350px;
    width: 100%;
    min-width: 640px;
    position: fixed;
    background-color: #222;
    left: 0;
    bottom: 0;
    z-index: 2;
    color: #999;
    font-size: 14px;
}
/*logo*/
.vivo-footer-logo{
    text-align: center;
    padding: 40px 0 20px 0;
}
/*logo图大小*/
.vivo-footer-logo img{
    width: 125px;
    height: 50px;
}
/*分享盒子*/
.vivo-footer-share{
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
}
/*分享每个园*/
.vivo-footer-share a{
    width:45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    background-color: #666;
    margin: 0 15px;
}
/*分享hover*/
.vivo-footer-share a:hover{
    background-color: #008cd6;
    color: white;
}
/*分享图片统一格式*/
.vivo-footer-share a b{
    display: inline-block;
    width: 45px;
    height: 45px;
}
/*背景图片*/
/*sina*/
.vivo-footer-share .sina-f b{
    background: url(../img/vivo-gb-ico.png) no-repeat -420px -80px;
}
.vivo-footer-share .sina-f:hover {
    background-color: #f04545;
}
/*微信*/
.vivo-footer-share .weixin-f b{
    background: url(../img/vivo-gb-ico.png) no-repeat -555px -80px;
}
.vivo-footer-share .weixin-f:hover {
    background-color: #20a900;
}
/*vivo*/
.vivo-footer-share .vivo-f b{
    background: url(../img/vivo-gb-ico.png) no-repeat -285px -80px;
}
/*贴吧*/
.vivo-footer-share .tieba-f b{
    background: url(../img/vivo-gb-ico.png) no-repeat -330px -80px;
}
/*部落*/
.vivo-footer-share .buluo-f b{
    background: url(../img/vivo-gb-ico.png) no-repeat -194px -80px;
}
/*分割线*/
.vivo-footer-share .kefu-f{
    position: relative;
}
.vivo-footer-share .kefu-f i{
    display: block;
    width: 1px;
    height: 45px;
    background: #666;
    position: absolute;
    left: -30px;
}
/*客服图片*/
.vivo-footer-share .kefu-f b{
    background: url(../img/vivo-gb-ico.png) no-repeat -243px -83px;
    margin: -3px 0 0 5px;
    width: 36px;
    /*height: 36px;*/
}
/*客服bg*/
.vivo-footer-share .kefu-f{
    width: 140px;
    height: 36px;
    line-height: 37px;
    border-radius: 18px;
    color: #fff;
    text-align: left;
    margin-left: 45px;
}
/*客服文字*/
.vivo-footer-share .kefu-f u{
    display: inline-block;
    position: relative;
    /*top: -20px;*/
    color: #ffffff;
}
/*微信二维码*/
.weixinma{
    padding: 10px;
    position: absolute;
    bottom: 65px;
    left: 0;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    display: none;
}
/*二维码大小*/
.weixinma img{
    width: 100px;
    height: 100px;
}
.weixinma i{
    width: 18px;
    height: 12px;
    background: url("../img/vivo-gb-ico.png") -90px 0;
    position: absolute;
    top: 123px;
    left: 50%;
    margin-left: -9px;
}
/*链接部分*/
.vivo-footer-sitelinks{
    text-align: center;
}
.vivo-footer-sitelinks a{
    display: inline-block;
    margin: 0 6px;
}
/*小箭头*/
.vivo-footer-sitelinks a b {
    width: 6px;
    height: 9px;
    margin-left: 4px;
    display: inline-block;
    background: url("../img/vivo-gb-ico.png") no-repeat -594px -125px;
}
/*版权*/
.vivo-footer-copyright{
    text-align: center;
    margin-top: 20px;
    /*font-size: 12px;*/
}
.vivo-footer-copyright p,.vivo-footer-copyright a{
    font-size: 12px;
}

/*回到顶部*/
#vivo-gotop{
    position: fixed;
    z-index: 999;
    right: 10px;
    bottom: 40px;
    background-color: rgba(0,0,0,.3);
    border-radius: 5px;
    display: none;
}
#vivo-gotop:hover{
    /*background-color: #008cd6;*/
}
#vivo-gotop .v-gotop a{
    width: 45px;
    height: 45px;
    display: inline-block;
    background: url("../img/vivo-gb-ico.png") no-repeat -120px 0;
    margin: 2px;
    
}